
/* Ein Gradient für den Header */
header {
  background: linear-gradient(to right, #a3c520, #6a8e15);
  padding: 10px 20px;
}

/* Weißer Text auf dem grünen Hintergrund */
header h1, header nav a {
  color: white;
}

#parallaxContainer {
  background: linear-gradient(135deg, rgba(163,197,32, 0.9), rgba(106,142,21, 0.9), rgba(163,197,32, 0.9));
}



.parallax {
  position: relative;
}
/* Grüner Hover-Effekt für Links */
header nav a:hover {
  color: #a3c520;
  background-color: white;
  padding: 2px 4px;
}

/* Ein spezieller Stil für den Slogan */
slogan {
  font-size: 1.5em;
  text-align: center;
}

/* Dunkler Footer mit grünen Links */
footer {
  background-color: #333;
  padding: 20px 0;
}

footer a {
  color: #a3c520;
}

footer a:hover {
  text-decoration: underline;
}

.sloganContainer {
  height: 30vh;  /* Dies reserviert 30% der Bildschirmhöhe für den Slogan */
  display: flex;
  align-items: center;  /* Zentriert den Slogan vertikal im Container */
  justify-content: center;  /* Zentriert den Slogan horizontal im Container */
  overflow: hidden;  /* Verhindert, dass überlanger Text außerhalb des Containers angezeigt wird */
}

.animatedText {
  font-size: 2em;  /* Einstellbare Größe nach Bedarf */
  text-align: center;
  transform: translate(-50%, -50%);  /* korrigiert die Position, um wirklich in der Mitte zu sein */
  transition: 0.3s ease-in-out;  /* Smooth Übergang für Textänderungen */
}
